@model IEnumerable<Boutiq_api.Models.Boutiq>

@{
    ViewData["Title"] = "Home Page";
}

<h4 class="text-center text-uppercase">MY CURRENT STALK</h4>

<p>
    <a asp-action="New" class="btn btn-sm btn-primary rounded-0 text-uppercase"><i class="fas fa-plus-circle"></i> Add
        New</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.itemImage)</th>
            <th>@Html.DisplayNameFor(model => model.Type)</th>

            <th>@Html.DisplayNameFor(model => model.Description)</th>
            <th>@Html.DisplayNameFor(model => model.Cost)</th>
            <th>@Html.DisplayNameFor(model => model.DateOfEntry)</th>
            <th>@Html.DisplayNameFor(model => model.status)</th>
            <th>Action</th>




        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>
                    <img src="~/images/@employee.itemImage" class="rounded-circle" height="40" width="40"
    asp-append-version="true" />

                </td>
                <td>@employee.Type</td>
                <td>@employee.Description</td>
                <td>@employee.Cost</td>
                <td>@employee.DateOfEntry</td>
                <td>@employee.status</td>

                <td>
                    <a asp-action="Edit" asp-route-id="@employee.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@employee.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@employee.Id">Delete</a>
                </td>

            </tr>
        }
    </tbody>
</table>
